* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Ubuntu", sans-serif;

}

::selection{
    background: violet;
}


header {
    padding: 1%;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

header h1 { 
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    width: 100%;
    color: #997093;
    padding-right: 2%;
}

#imgBg {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 47%;
}
#imgBg img {
    border-bottom-right-radius: 51px;
    width: 100%;
    box-shadow: 0px 0px 11px rgb(163, 163, 163);
}

/* --- */

#banner{
    padding: 3%;
    display: flex;
    flex-direction: row;
}

#banner .relleno {
    width: 50%;
}

#banner article {
    margin: auto;
}

#banner .lineDivisor {
    width: 57%;
    height: 1px;
    background: black;
    margin-top: 11%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

#banner p {
    font-size: .83rem;
    font-weight: 300;
    text-align: center;
    width: 71%;
    padding: 2%;
    margin: auto;
}

.redesSociales {
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin-top: 5%;
}

.redesSociales svg {
    width: 100%;
    margin: auto;
}

.redesSociales a {
    text-decoration: none;
    color: black;
}

#homeMenu {
    margin-top: 17%;
}

#homeMenu ul {
    text-align: center;
    padding: 3%;
}

#homeMenu li {
    display: inline-block;
    width: 31%;
}

#homeMenu a {
    text-decoration: none;
    color: #997093;
}

#homeMenu a:hover {
    color: black;
    transition: 800ms;
}

/* --- */
.main {
    padding: 1%;
    margin-top: 5%;
}